.testCal {
  width: 100%;
  min-height: 60vh;
  border: 0;
}

.testCal #footer1 {
  display: none;
}

.w-checkbox {
  display: block;
  margin-bottom: 5px;
  padding-left: 20px;
}

.w-checkbox::before {
  content: ' ';
  display: table;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
}

.w-checkbox::after {
  content: ' ';
  display: table;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
  clear: both;
}

.w-checkbox-input {
  float: left;
  margin-bottom: 0px;
  margin-left: -20px;
  margin-right: 0px;
  margin-top: 4px;
  line-height: normal;
}

.w-checkbox-input--inputType-custom {
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-right-width: 1px;
  border-top-color: #ccc;
  border-bottom-color: #ccc;
  border-left-color: #ccc;
  border-right-color: #ccc;
  border-top-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-right-style: solid;
  width: 12px;
  height: 12px;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}

.w-checkbox-input--inputType-custom.w--redirected-checked {
  background-color: #3898ec;
  border-top-color: #3898ec;
  border-bottom-color: #3898ec;
  border-left-color: #3898ec;
  border-right-color: #3898ec;
  background-image: url('https://d3e54v103j8qbb.cloudfront.net/static/custom-checkbox-checkmark.589d534424.svg');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.w-checkbox-input--inputType-custom.w--redirected-focus {
  box-shadow: 0px 0px 3px 1px #3898ec;
}

.tabs-menu {
  position: static;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  height: auto;
  min-height: 0vh;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  align-self: stretch;
  -webkit-box-ordinal-group: 0;
  -webkit-order: -1;
  -ms-flex-order: -1;
  order: -1;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  border: 0px none #000;
  border-radius: 0px;
  background-color: transparent;
  font-family: Exo, sans-serif;
  text-align: center;
  -o-object-fit: fill;
  object-fit: fill;
}

.section {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 5vh;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #353535;
}

.heading {
  margin-top: 10px;
  margin-left: 1em;
  font-family: Exo, sans-serif;
  color: #fff;
  text-shadow: 1px 1px 6px #000;
}

.tabs-content {
  position: static;
  left: 0vw;
  top: 100%;
  right: 0%;
  bottom: 101%;
  display: block;
  overflow: visible;
  width: 100vw;
  height: auto;
  min-height: auto;
  margin-bottom: 0em;
  padding-bottom: 0em;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-self: stretch;
  -ms-flex-item-align: stretch;
  -ms-grid-row-align: stretch;
  align-self: stretch;
  -webkit-box-ordinal-group: 2;
  -webkit-order: 1;
  -ms-flex-order: 1;
  order: 1;
  background-color: #2d3142;
  -o-object-fit: fill;
  object-fit: fill;
}

.reservation-pane {
  overflow: visible;
  width: 100%;
  height: 100%;
  min-height: 0vh;
  background-color: transparent;
  -o-object-fit: fill;
  object-fit: fill;
}

.reviews-pane {
  overflow: visible;
  width: 100%;
  height: 100%;
  border-bottom: 0px none #000;
  background-color: transparent;
  text-shadow: none;
  -o-object-fit: fill;
  object-fit: fill;
}

.calendar-pane {
  width: 100%;
  height: 100%;
  background-color: transparent;
  font-family: Ubuntu, Helvetica, sans-serif;
}

.settings-pane {
  position: relative;
  overflow: visible;
  width: 100%;
  height: 100%;
  background-color: transparent;
}

.div-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  background-color: #9e9e9e;
}

.div-block.review-list-header {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  -ms-grid-columns: 0.5fr 0.25fr 0.25fr 2fr 0.25fr 0.25fr 0.25fr;
  grid-template-columns: 0.5fr 0.25fr 0.25fr 2fr 0.25fr 0.25fr 0.25fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
  background-color: rgba(60, 61, 65, 0);
  color: #ebebeb;
  text-shadow: none;
}

.utility-page-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 100vh;
  max-height: 100%;
  max-width: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.utility-page-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 260px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
}

.utility-page-form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.form-block {
  position: relative;
  left: auto;
  top: 0%;
  right: 0%;
  bottom: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 10vh;
  min-width: 50px;
  margin-right: auto;
  margin-bottom: 0px;
  margin-left: auto;
  float: none;
  clear: none;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  background-color: transparent;
}

.body {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  grid-auto-flow: row;
  grid-auto-columns: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  grid-template-areas: ". Area-2"
    ". Area";
  -ms-grid-columns: 0.25fr 0px 0.5fr 0px 0.25fr;
  grid-template-columns: 0.25fr 0.5fr 0.25fr;
  -ms-grid-rows: auto 0px auto 0px auto;
  grid-template-rows: auto auto auto;
  border-radius: 3px;
  background-color: #d8cca8;
}

.form-2 {
  display: block;
  width: auto;
  min-height: 10vh;
  min-width: 30vw;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  border-radius: 0px;
  -o-object-fit: fill;
  object-fit: fill;
}

.heading-3 {
  color: #000;
}

.div-block-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.submit-button {
  margin-left: 10px;
  -webkit-align-self: flex-start;
  -ms-flex-item-align: start;
  align-self: flex-start;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  border-radius: 8px;
}

.text-field-2 {
  border-radius: 8px;
}

.text-field-3 {
  border-radius: 8px;
}

.form-3 {
  position: static;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: auto;
  height: auto;
  padding-top: 0px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  text-align: left;
}

.button-white {
  margin-right: 1em;
  margin-left: 0px;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  border: 2px solid #000;
  border-radius: 10px;
  background-color: #fff;
  font-family: Ubuntu, Helvetica, sans-serif;
  color: #000;
  font-weight: 700;
}

.button-white.search-button {
  margin-right: 0;
  margin-left: 0.5em;
  /*-webkit-align-self: flex-start;*/
  /*-ms-flex-item-align: start;*/
  /*align-self: flex-start;*/
}

.button-white.update-button {
  position: fixed;
  bottom: 3vh;
  right: 3vw;
  border: black 1px solid;
  /*-webkit-align-self: flex-start;*/
  /*-ms-flex-item-align: start;*/
  /*align-self: flex-start;*/
}

.button-white.vist-site {
  margin-right: 1em;
}

.form-block-2 {
  margin-bottom: 0px;
  padding: 0.5em;
  border-bottom: 1px none #000;
  background-color: rgba(55, 68, 122, 0);
}

.text-field-4 {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  border-radius: 10px;
}

.text-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.admin-body {
  display: block;
  /*overflow: visible;*/
  overflow-x: hidden;
  height: auto;
  min-height: 100vh;
  margin-right: auto;
  margin-left: auto;
  background-color: #2d3142;
  color: #2d3142;
  -o-object-fit: fill;
  object-fit: fill;
}

.tabs {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: auto;
  min-height: 0vh;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  border-bottom: 2px solid #fff;
  background-color: #353535;
  color: #fff;
  font-size: 1em;
  cursor: pointer;
}

.tabs.w--current {
  height: auto;
  min-height: 0vh;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  border-style: solid solid none;
  border-width: 2px 2px 0px;
  border-color: #fff;
  border-radius: 10px 10px 0px 0px;
  background-color: #2d3142;
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
  -webkit-perspective: 0px;
  perspective: 0px;
  -webkit-transform: perspective(0px);
  transform: perspective(0px);
  -webkit-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  color: #fff;
  background-clip: border-box;
  cursor: pointer;
}

.tabs.w--current:active {
  background-color: #82c94b;
}

.review-item {
  display: -ms-grid;
  display: grid;
  margin: 5px;
  padding: 10px;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  justify-items: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-auto-flow: row;
  grid-auto-columns: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  grid-template-areas: "Area Area-2 Area-3 Area-4 Area-5 Area-6 Area-7";
  -ms-grid-columns: 0.5fr 0px 0.25fr 0px 0.25fr 0px 2fr 0px 0.25fr 0px 0.25fr 0px 0.25fr;
  grid-template-columns: 0.5fr 0.25fr 0.25fr 2fr 0.25fr 0.25fr 0.25fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
  border: 1px solid #000;
  border-radius: 10px;
  background-color: #ebebeb;
  font-family: Ubuntu, Helvetica, sans-serif;
  color: #000;
  text-transform: none;
  list-style-type: none;
  white-space: pre-line;
}

.review-item-text {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  -webkit-box-ordinal-group: 1;
  -webkit-order: 0;
  -ms-flex-order: 0;
  order: 0;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  font-family: Ubuntu, Helvetica, sans-serif;
  text-transform: capitalize;
  font-size: 1.4em;
}

.review-item-text:hover {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.review-item-text.review-item-mobile-hidden {
  overflow: visible;
  font-size: 1.4em;
}

.review-item-text.review-item-mobile-review-text {
  max-height: 4em;
  font-size: 1em;
}

.list-2 {
  overflow: auto;
  margin-bottom: 0px;
  padding-left: 0px;
}

.form-4 {
  display: block;
  overflow: visible;
  background-color: hsla(0, 0%, 92.9%, 0);
  opacity: 1;
  text-align: center;
}

.success-message {
  overflow: visible;
  opacity: 1;
}

.error-message-2 {
  margin-top: 0px;
  opacity: 0;
}

.form-5 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: silver;
  color: #6d6969;
}

.checkbox-label {
  display: none;
}

.rental-header {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  font-family: Ubuntu, Helvetica, sans-serif;
  font-size: 1.2em;
  font-weight: 700;
  text-align: center;
  text-transform: capitalize;
}

.rental-header.header-mobile-hidden {
  text-shadow: none;
}

.checkbox-label-2 {
  display: none;
}

.div-block-3 {
  display: block;
  /*overflow: auto;*/
  /*max-height: 8vh;*/
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  -o-object-fit: fill;
  object-fit: fill;
}

.form-block-3 {
  overflow: visible;
  margin-bottom: 0px;
}

.tabs-container {
  display: block;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  background-color: transparent;
}

.accordion-wrapper {
  margin-bottom: 0.5em;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.accordion-item {
  width: 100%;
}

.accordion-item-trigger {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 0.5em 0.5em 0em;
  padding: 0.5em 1em;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border: 1px solid #000;
  border-radius: 0px;
  background-color: #30333b;
  box-shadow: 0 1px 2px 1px #000;
  color: #30333b;
  cursor: pointer;
}


.accordion-item-internal-div {
  width: 100%;
  text-align: center;
  display: block;
  padding: 0.5em;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 0 0 10px 10px;
  background-color: #ebebeb;
}

.heading-4 {
  margin-top: 0;
  margin-bottom: 0;
  color: #cfcfcf;
}


.paragraph {
  overflow: visible;
  margin-right: 0em;
  margin-bottom: 0px;
}

.promo-internal-codes-form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-content: space-around;
  -ms-flex-line-pack: distribute;
  align-content: space-around;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}


.button-black {
  border-style: none;
  border-width: 0px;
  border-color: #f9f9f9;
  border-radius: 10px;
  background-color: #000;
  box-shadow: 0 1px 3px 0 #606060;
  color: #fff;
}

.button-black.form-button {
  margin-right: 1em;
  margin-left: 0.5em;
  -webkit-align-self: flex-start;
  -ms-flex-item-align: start;
  align-self: flex-start;
  text-transform: capitalize;
  color: white;
  background-color: black;
}

.checkbox-field-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 0px;
  padding-left: 0px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-self: flex-start;
  -ms-flex-item-align: start;
  align-self: flex-start;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
}

.checkbox {
  margin-left: 10px;
}

.checkbox-label-3 {
  overflow: visible;
  margin-top: 5px;
  margin-bottom: 0px;
  margin-left: 10px;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  -ms-grid-row-align: auto;
  align-self: auto;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  font-family: Ubuntu, Helvetica, sans-serif;
}

.settings-text-field {
  margin-right: 10px;
  /*margin-bottom: 10px;*/
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  -ms-grid-row-align: auto;
  align-self: auto;
  border-radius: 10px;
}

.calendar-setting-form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-content: space-around;
  -ms-flex-line-pack: distribute;
  align-content: space-around;
}

.notification-form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
}

.input-button-flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  align-self: auto;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.calendar-wrapper {
  width: 100%;
  height: 100%;
  margin-top: 0px;
  background-color: transparent;
}

.columns {
  height: 100%;
}

.reservation-slider {
  height: 100%;
}

.reservation-content {
  height: 100%;
  width: 100%;
  column-fill: auto;
  overflow-x: hidden;
}

.calendar-controls {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: auto;
  height: auto;
  margin: 1em;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 10px;
  background-color: transparent;
  text-align: left;
}

.big-calendar {
  margin: 1em;
  padding: 1em;
  background-color: #ebebeb;
  font-family: Exo, sans-serif;
}

.promo-block {
  display: block;
  margin-right: 0.25em;
  margin-left: 0.25em;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.heading-5 {
  -webkit-align-self: flex-start;
  -ms-flex-item-align: start;
  align-self: flex-start;
  font-family: Exo, sans-serif;
  text-decoration: none;
}

.form-block-4 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.inner-promo-inputs {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 5px;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-bottom: 1px none #000;
}

.inner-promo-inputs.custom-code-item {
  border-bottom-style: solid;
}

.promo-section {
  display: block;
}

.checkbox-field-3 {
  margin-right: 10px;
}

.custom-promo-codes {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.custom-codes-header-bar {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  border: 1px solid #000;
  background-color: #30333b;
  font-family: Ubuntu, Helvetica, sans-serif;
  color: #cfcfcf;
}

.checkbox-label-4 {
  display: none;
}

.checkbox-label-5 {
  display: none;
}

.promo-code-creator-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.heading-6 {
  font-family: Exo, sans-serif;
}

.heading-7 {
  font-family: Exo, sans-serif;
}

.calendar-controls-form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 0.25em;
  padding: 0.25em;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-content: space-around;
  -ms-flex-line-pack: distribute;
  align-content: space-around;
}

.calendar-control-select {
  min-width: 30ch;
  margin-right: 0.25em;
  margin-bottom: 0px;
  margin-left: 0.25em;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  border-radius: 10px;
  background-color: #30333b;
  color: #ebebeb;
}

.calendar-check-input {
  margin-right: 0.25em;
  margin-bottom: 0px;
  margin-left: 0.25em;
}

.flex-box {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 0px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
}

.comp-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.acc-form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.text-block-2 {
  color: #fff;
}

.bold-text {
  font-size: 2.5em;
}

@media screen and (max-width: 991px) {
  .review-item-text.review-item-mobile-review-text {
    overflow: hidden;
  }

  .promo-internal-codes-form {
    -webkit-align-content: space-around;
    -ms-flex-line-pack: distribute;
    align-content: space-around;
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
  }

  .calendar-controls-form {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  .flex-box {
    margin-bottom: 0.5em;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-flex: 1;
    -webkit-flex: auto;
    -ms-flex: auto;
    flex: auto;
  }
}

@media screen and (max-width: 767px) {
  .review-item {
    -ms-grid-columns: 0.5fr 0.25fr 0.25fr 1.5fr 0.25fr 0.25fr 0.25fr;
    grid-template-columns: 0.5fr 0.25fr 0.25fr 1.5fr 0.25fr 0.25fr 0.25fr;
  }

  .review-item-text {
    font-size: 1.3em;
  }

  .review-item-text.review-item-mobile-hidden {
    font-size: 1.3em;
  }

  .review-item-text.review-item-mobile-review-text {
    overflow: hidden;
    max-height: 4em;
    max-width: 100%;
  }

  .paragraph {
    overflow: visible;
  }

  .flex-box {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }
}

@media screen and (max-width: 479px) {
  .tabs-menu {
    display: block;
    min-height: 0vh;
  }

  .tabs-content {
    min-height: 100%;
    -o-object-fit: fill;
    object-fit: fill;
  }

  .reviews-pane {
    height: auto;
    max-height: none;
  }

  .div-block.review-list-header {
    -ms-grid-columns: 0.25fr 0.25fr 0.25fr 0.25fr 0.25fr 0.25fr 0.25fr;
    grid-template-columns: 0.25fr 0.25fr 0.25fr 0.25fr 0.25fr 0.25fr 0.25fr;
  }

  .button-white.vist-site {
    display: none;
  }

  .tabs {
    display: block;
  }

  .review-item {
    display: -ms-grid;
    display: grid;
    overflow: visible;
    margin-right: 0px;
    margin-left: 0px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    justify-items: center;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    grid-auto-flow: row dense;
    grid-auto-columns: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    grid-template-areas: "Area Area-2 Area-3 Area-4 Area-5 Area-6 Area-7";
    -ms-grid-columns: 0.25fr 0px 0.25fr 0px 0.25fr 0px 2fr 0px 0.5fr 0px 0.25fr 0px 0.25fr;
    grid-template-columns: 0.25fr 0.25fr 0.25fr 2fr 0.5fr 0.25fr 0.25fr;
    -ms-grid-rows: auto;
    grid-template-rows: auto;
    text-align: center;
    -o-object-fit: fill;
    object-fit: fill;
  }

  .review-item-text {
    overflow: visible;
    max-height: 3em;
    max-width: 100%;
    min-height: 0em;
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
  }

  .review-item-text.review-item-mobile-hidden {
    display: none;
  }

  .review-item-text.review-item-mobile-review-text {
    overflow: hidden;
    max-width: 100%;
  }

  .list-2 {
    /*overflow: auto;*/
    background-color: #37447a;
    text-align: center;
  }

  .rental-header.header-mobile-hidden {
    display: none;
  }

  .checkbox-field {
    max-height: 3em;
  }

  .div-block-3 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 0%;
    max-height: 0vh;
    min-height: 0vh;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    background-color: #37447a;
  }

  .tabs-container {
    display: block;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .accordion-wrapper {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }

  .accordion-item-internal-div {
    overflow: auto;
  }

  .calendar-controls {
    display: block;
    overflow: visible;
    width: 100%;
    height: 100%;
    margin: 0em;
  }

  .promo-code-creator-block {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .calendar-controls-form {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-align-content: space-around;
    -ms-flex-line-pack: distribute;
    align-content: space-around;
  }

  .calendar-check-input {
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
  }

  .flex-box {
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }

  .flex-box.flex-box-long {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
  }
}

#w-node-_85a9be7a-7378-a85c-414f-0ab32153ab99-51ae3750:hover {
  -ms-grid-column-align: center;
  justify-self: center;
}

#w-node-e1dd1183-7f31-4aea-c37f-94bc8df502d5-16c02b73 {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: Area-2;
  -ms-grid-column-align: center;
  justify-self: center;
  -ms-grid-row-align: center;
  align-self: center;
}

.review-item>#w-node-e1dd1183-7f31-4aea-c37f-94bc8df502d5-16c02b73 {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}

#w-node-a82e9f6c-02c7-fe1e-e124-9cd93fb923d9-16c02b73 {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
  grid-area: Area;
  -ms-grid-column-align: center;
  justify-self: center;
  -ms-grid-row-align: center;
  align-self: center;
}

.review-item>#w-node-a82e9f6c-02c7-fe1e-e124-9cd93fb923d9-16c02b73 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

@media screen and (max-width: 479px) {
  #w-node-_7ba7a9dc-04a6-0d6a-37be-2c03c8bc3afc-51ae3750 {
    -ms-grid-column: 2;
    grid-column-start: 2;
    -ms-grid-column-span: 2;
    grid-column-end: 4;
    -ms-grid-row: 1;
    grid-row-start: 1;
    -ms-grid-row-span: 1;
    grid-row-end: 2;
  }

  #w-node-_7547e9b3-c7a3-3a50-6b0b-8a98a4d3ec17-51ae3750 {
    -ms-grid-column: 4;
    grid-column-start: 4;
    -ms-grid-column-span: 1;
    grid-column-end: 5;
    -ms-grid-row: 1;
    grid-row-start: 1;
    -ms-grid-row-span: 1;
    grid-row-end: 2;
    -ms-grid-column-align: center;
    justify-self: center;
  }

  #w-node-d8786266-fbb6-a51c-cb2f-7a0f53986d37-51ae3750 {
    -ms-grid-column: 5;
    grid-column-start: 5;
    -ms-grid-column-span: 2;
    grid-column-end: 7;
    -ms-grid-row: 1;
    grid-row-start: 1;
    -ms-grid-row-span: 1;
    grid-row-end: 2;
  }

  #w-node-_85a9be7a-7378-a85c-414f-0ab32153ab95-51ae3750 {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
    -ms-grid-column-align: center;
    justify-self: center;
    grid-area: Area-2;
  }

  .review-item>#w-node-_85a9be7a-7378-a85c-414f-0ab32153ab95-51ae3750 {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
  }

  #w-node-_85a9be7a-7378-a85c-414f-0ab32153ab99-51ae3750 {
    -ms-grid-column: 3;
    grid-column-start: 3;
    -ms-grid-column-span: 3;
    grid-column-end: 6;
    -ms-grid-row: 1;
    grid-row-start: 1;
    -ms-grid-row-span: 1;
    grid-row-end: 2;
    -ms-grid-column-align: center;
    justify-self: center;
    -ms-grid-row-align: center;
    align-self: center;
  }

  #w-node-d285f0fa-34f6-6bc3-30e3-d1c357077f75-51ae3750 {
    -ms-grid-row: 1;
    -ms-grid-column: 11;
    -ms-grid-column-align: center;
    justify-self: center;
    -ms-grid-row-align: center;
    align-self: center;
    grid-area: Area-6;
  }

  @media screen and (max-width: 479px) {
    .review-item>#w-node-e1dd1183-7f31-4aea-c37f-94bc8df502d5-16c02b73 {
      -ms-grid-row: 1;
      -ms-grid-column: 3;
    }

    .review-item>#w-node-a82e9f6c-02c7-fe1e-e124-9cd93fb923d9-16c02b73 {
      -ms-grid-row: 1;
      -ms-grid-column: 1;
    }

    .review-item>#w-node-_85a9be7a-7378-a85c-414f-0ab32153ab95-51ae3750 {
      -ms-grid-row: 1;
      -ms-grid-column: 3;
    }

    #w-node-d285f0fa-34f6-6bc3-30e3-d1c357077f75-51ae3750 {
      -ms-grid-row: 1;
      -ms-grid-column: 11;
    }
  }
}